* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cossette Texte", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: white(202, 196, 196);
}
.page {
  height: 100%;
  width: 100%;
  padding: 2rem 4rem;
  background-color: white;
  color: black;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links ul {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  list-style: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
}
.nav-links ul li:hover {
  color: green;
  border-bottom: 2px solid green;
}
.search-bar input {
  padding: 1rem 6rem;
  border-radius: 30px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-family: sans-serif;
  background-image: url("./image/search.png");
  background-size: 1.7rem;
  background-repeat: no-repeat;
  background-position-x: 5%;
  background-position-y: center;
}
#cart {
  position: relative;
  right: 4rem;
  padding-left: 1rem;
  border-left: 1px solid black;
}
main {
  display: flex;
  justify-content: space-between;
}
.left-side {
  margin-top: 2rem;
}
.tag {
  font-size: 1rem;
  border: 1px solid green;
  text-transform: uppercase;
  color: green;
  border-radius: 2rem;
  padding: 0.4rem;
  text-align: center;
  margin: 2rem 0;
  width: max-content;
}
.heading {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 600;
}
.text {
  font-size: 1rem;
  margin: 1.1rem 0;
  line-height: 1.5;
}
.two-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-to-cart {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}
.add-to-cart button {
  padding: 0.8rem 3rem;
  border-radius: 10rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: black;
  color: white;
  text-transform: uppercase;
}
.add-to-cart span {
  padding: 8px;
  border-radius: 50%;
  background-color: #fcce75;
  position: absolute;
  margin-left: 0.5rem;
}
.quantity-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.4rem 1rem;
  border: 1px solid black;
  border-radius: 10rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3);
}
.quantity-btn div {
  padding: 0.6rem;
}
.three-specs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.specs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.spec {
  margin-right: 1.6rem;
}
.emoji {
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 1.5rem;
}
.three-specs {
  margin-top: 2rem;
}
.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.img {
  padding: 1rem;
  border-radius: 50%;
  font-size: 1.5rem;
}
.ingredients {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}
.ingre {
  margin-right: 4rem;
  font-size: small;
  color: gray;
}
.ingre strong {
  font-size: 1.2rem;
  color: black;
}
footer {
  width: 100%;
  background-color: #115b39;
  height: 25%;
  border-radius: 2rem;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
.left-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.footer-text {
  text-transform: uppercase;
  font-size: 1.8rem;
  color: white;
  font-weight: 600;
}
.arrow-btn {
  padding: 5px;
  border-radius: 50%;
  background-color: white;
  color: black;
  margin: 0 10px;
}
.right-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel {
  display: flex;
  justify-content: space-between;
  height: 90%;
  margin: 0 2rem;
  padding: 1rem 2rem;
  background-color: white;
  border-radius: 20px;

}
.carousel-img{
    position: relative;
    bottom: 3rem;
    margin-right: 2rem;
}
.carousel-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.carousel-name, .carousel-price{
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
}
.carousel-button{
    text-transform: uppercase;
    font-size: 1.1rem;
    background-color: red;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10rem;
}
