* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue";
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  color: white;
}

@font-face {
    font-family: nothing;
    src: url(./NType82-Regular.otf);
}

.box1 {
  height: 200px;
  width: 200px;
  background-color: red;
  border: 2px solid black;
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 1;
}
.box2 {
  height: 200px;
  width: 200px;
  background-color: blue;
  border: 2px solid black;
  position: absolute;
  bottom: 30%;
  left: 40%;
}

.box3 {
  height: 200px;
  width: 200px;
  background-color: green;
  border: 2px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#button{
    margin: 20px;
    padding: 15px 30px;
    background-color: white;
    color: black;
    font-size: xx-large;
    border: 2px dotted black;
    font-weight: 600;
    font-family: nothing;
    border-radius: 20px;
    transition: all ease 0.3s;
}

#button:hover{
    background-color: black;
    color: white;
}